/* BASIC UNIVERSAL STYLING & CLEAN UP */
/* some basic css resetting */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;      
    list-style: none;
    text-decoration: none;
}

:root {
    --header-height: 5rem;
    --color-brown: #5A4034;
    --color-beige: #d9c5ad;
    --color-white: #F9F5F2;
    --color-gold: #C7A95A;
    --color-black: #1C1C1C;
    --color-shadow: rgb(1,1,1,0.5);
}

.centre {
    margin: 0 auto;
}

.font-raleway {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-beige);
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--color-brown);
    overflow-x: hidden;
    font-size: 1.5rem;
}

main {
    width: 100vw;
    height: 100vh;
    z-index: -10;
    overflow-x: hidden;
}

/*
    HEADER
    navigation and logo
*/

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--header-height);
    overflow-y: hidden;
    z-index: 1;
}

#header-background {
    width: 100%;
    height: var(--header-height);
    background: var(--color-white);
    opacity: 75%;
    position: absolute;
    top: 0;
    transition: all 0.2s ease-in;
    z-index: -5;
    box-shadow: 0px 0px 15px 15px rgb(1,1,1,0.5);
}

header:hover #header-background {
    top: -0.25rem;
}

.container-max-width {
    max-width: 1300px;
    width: 100%;
    height: 100%;
    position: relative;
}

#nav-links {
    display: flex;
    justify-content: right;
    width: 50%;
    margin-left: auto;
}

#nav-links li {
    width: 10rem;
    text-align: center;
    margin: 0 1rem;
    padding: 0.5rem 0;
    align-content: center;
}

nav {
    position: relative;
    height: 100%;
    display: flex;
}

#companylogo {
    height: calc(var(--header-height) * 1.5);
    position: absolute;
    top: -1.25rem;
    left: 2rem; 
}

img {
    height: 100%;
}

/* https://css-irl.info/animating-underlines/ */

#nav-links li a {
    display: block;
    position: relative;
    padding: 0.2rem 0;
    color: inherit;
}

#nav-links li a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
  content: '';
  position: absolute;
  left: 10%;
  bottom: -0.5rem;
  width: 80%;
  height: 0.2rem;
  background-color: var(--color-brown);
  transition: opacity 0.25s, transform 0.25s;
}

#nav-links li a:hover::after,
#nav-links li a:focus::after{
  transform: scale(1);
}


#section-home h1 {
    font-size: 6rem;
    font-weight:900;
    text-align: right;
    color: var(--color-brown);
    text-shadow: 2px 2px 2px var(--color-shadow);
}

#home-text {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 4rem;
}


/*




*/





#section-background {
    height: 100vh;
    width: 100%;
    position: fixed;
    background: var(--color-white); 
}

#section-background img:first-child {
    opacity: 0.15;
    position: absolute;
    right:-40%;
    top:-50%;
}

#section-background img:last-child {
    opacity: 0.15;
    position: absolute;
    left:-32.5%;
    bottom:-40%;
}


#section-home {
    background-image: url(../images/home-bg.jpeg);
    background-size: cover;
    background-position: 35% 50%;
    height: 100vh;
    width: 100%;
    position:relative;
    box-shadow: 0px 0px 10px 10px rgb(1,1,1,0.5);
}

#section-application {
    min-height: 100vh;
    width: 100%;
    background: transparent;
    position: relative;
    display: flex;
    flex-direction: row;
}

#section-range {
    min-height: 100vh;
    width: 100%;
    background: var(--color-beige);
    position: relative;
    box-shadow: 0px 0px 10px 10px rgb(1,1,1,0.5);
}


h2 {
    padding: calc(var(--header-height) + 4rem) 0 var(--header-height);
    font-size: 3rem;
    color: var(--color-brown);
    text-shadow: 2px 2px 2px var(--color-shadow);
    text-align: center;  
}

.tutorial-tabs {
    width: 100%;
    margin: 0 auto;
}

.tutorial-tabs::part(active-tab-indicator) {
    --indicator-color: none;
    height: 0;
    border: 0;
}

.tutorial-tabs::part(body) {
    border: 0;
    width: 75%;
    margin: 0 auto;
    padding: 0 1rem;
    line-height: 2rem;
    min-height: fit-content;
    height: 16.5rem;
}

.tutorial-table tr th {
    width: 8rem;
    align-content: top;
    display: flex;
    align-items: top;
    justify-content: right;
    padding-right: 2rem;
}

.tutorial-table tr td {
    padding-bottom: 1rem;
}

.tutorial-tabs::part(nav) {
    margin: 0 auto;
}


.container-thumbnail {
    height: 7.5rem;
    aspect-ratio: 1/1;
    box-shadow: 3px 3px 3px var(--color-shadow);
    border-radius: 10px;
    background: var(--color-white);
    border: 1px solid var(--color-brown);
    transition: transform 0.2s ease-in;
}

.tutorial-tabs sl-tab[active] .container-thumbnail {
    transform:scale(1.2);
    box-shadow: 0px 0px 3px var(--color-gold);
    border: 2px solid var(--color-gold);
}

.container-thumbnail:hover {
    box-shadow: 0px 0px 3px var(--color-shadow);

}

#application-video {
    width: 75%;
    min-width: 600px;
    aspect-ratio: 16/9; 
}

iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 3px 3px 3px var(--color-shadow);
    margin-bottom: 3rem;
}

.section-bg img {
    position: absolute;
    opacity: 0.1;
    height: 100vh;
}

#section-range div img {
    right: -8%;
    transform: rotateY(180deg);
}

#section-contactus {
    overflow: hidden;
}

#section-contactus div img {
    left: -8%;
}

#container-testimonial {
    height: 50vh;
    margin: 0 auto calc(var(--header-height) + 4rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

#testimonial-carousel {
    width: 75%;
}

.testimonial {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.testimonial * {
    font-size: 1.5rem;
}

.testimonial-content {
    position: relative;
    text-align: center;
}

.testimonial-content::before {
    content:'“';
    position:absolute;
    font-size: 20rem;
    left:-6rem;
    top: -6rem;
    color: var(--color-gold);
    text-shadow: 2px 2px 2px var(--color-shadow);

}

.testimonial-content::after {
    content:'”';
    position:absolute;
    font-size: 20rem;
    right:-6rem;
    top: -6rem;
    color: var(--color-gold);
    text-shadow: 2px 2px 2px var(--color-shadow);
}

.testimonial-user {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}

.testimonial-img {
    height:5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid var(--color-brown);
    box-shadow: 1px 1px 1px 1px var(--color-shadow);
}

#section-contactus {
    width: 100%;
    background: var(--color-beige);
    position: relative;
    box-shadow: 0px 0px 10px 10px rgb(1,1,1,0.5);
    font-size: 1.5rem;
    text-align: center;
}

#contactus-form {
    width: 50%;
    min-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: calc(var(--header-height) + 4rem);

}

input[type=text], input[type=email], select, textarea, label {
    margin: 1rem 0;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    height: 2.5rem;
    align-content: center;
    border-radius: 10px;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--color-brown);
}

textarea {
    height: 5rem;
}

footer {
    min-height: 40vh;
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

button {
    background: transparent;
    border: 2px solid var(--color-white);
    border-radius: 5rem;
    width: 10rem;
    margin: 1rem auto 0;
    height: 3rem;
    filter: drop-shadow(2px 2px 2px var(--color-shadow));
    font-size: 1.5rem;
    color: var(--color-white);
    text-shadow: 2px 2px 2px var(--color-shadow);
}

hr {
    border: 1.5px solid var(--color-white);
    width: 50vw;
    margin: 0 auto 1rem;
}

footer {
    padding-top: 4rem;
}

footer span {
    font-size: 0.75rem;
}

#footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#footer-links, #footer-socials {
    width: 30%;
}

h3 {
    font-size: 2rem;
    margin: 2rem;
}

#socials-links i {
    font-size: 3rem;
    margin: 1rem;
    color: var(--color-white);
}

.footer-logo {
    height: 10rem;
}

.footer-logo img {
    height: 100%;
}

#footer-links ul {
    margin: 2rem 2rem 0;
    text-align: left;
    font-size: 1.25rem;
    line-height: 2.5rem;
}

#footer-links ul li {
    padding-left: 4rem;
    color: var(--color-white);
}

a, a:visited, a:active {
    color:inherit;
}

a:hover, #socials-links i:hover {
    color: var(--color-gold);
}


